<div class="book-item">
  <img
    src="{{ cityBook?.volumeInfo.imageLinks.thumbnail }}"
    alt=""
    class="bookImg"
  />
  <div *ngIf="!showInfo" class="book-info">
    <p class="title">{{ cityBook?.volumeInfo.title }}</p>
    by {{ cityBook?.volumeInfo.authors }} <br />
    Description: {{ cityBook?.volumeInfo.description }}
    <a href="{{ cityBook?.volumeInfo.infoLink }}" target="_blank"
      >Link to Buy</a
    >
  </div>
  <button *ngIf="!showInfo" class="bk-button" (click)="showInfo = !showInfo">
    Hide Info
  </button>
  <button class="bk-button" *ngIf="showInfo" (click)="showInfo = !showInfo">
    More Info
  </button>
</div>
