.main {
  background-color: #2dabae;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.main h1 {
  margin: 5px;
}
.team {
  width: 94vw;
}
.names {
  font-size: 16px;
width: 90vw;
  display: flex;
  justify-content: space-around;
}

.fa-github {
  color: black;
  padding: 3px;
}
.about {
  padding-top: 15px;
  text-align: center;
}
.about p {
  padding: 5px;
  font-size: 24px;
  margin: 15px;
}
.about h2 {
  font-size: 30px;
}

.homeButton {
  padding: 2px;
  margin: 10px;
  display: flex;
  border: none;
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.fas {
  font-size: 30px;
}
.attributions {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.powered {
  margin: 15px;
  font-size: 25px;
}
.icon {
  margin: 5px;
  border-radius: 5px;
  width: 200px;
}
.google {
  width: 180px;
  background-color: white;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .main h1 {
    font-size: 40px;
  }

  .names {
    font-size: 20px;
  }

  .about p {
    font-size: 30px;
  }
  .about h2 {
    font-size: 36px;
  }
  .powered {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .main h1 {
    font-size: 45px;
  }
  .names {
    font-size: 46px;
  }

  .about p {
    font-size: 30px;
  }
  .about h2 {
    font-size: 36px;
  }
  .powered {
    font-size: 30px;
  }
}
