<main class="main">
  <h1>About Us</h1>
  <img class="team" src="team_elsewhere_full.jpg" alt="team pic" width="450" />
</main>
<footer>
  <div class="attributions">
    This app is powered by
    <div id="edamam-badge" data-color="white"></div>
    <img
      class="icon"
      src="https://pixabay.com/static/img/public/medium_rectangle_b.png"
      alt="Pixabay API"
    />
    <img
      class="icon"
      src="https://www.google.com/images/logos/books_logo.gif"
      alt="google books API"
    />
    <img
      class="icon"
      src="https://openweathermap.org/themes/openweathermap/assets/img/logo_white_cropped.png"
      alt="OpenWeather API"
    />
  </div>
</footer>
