.main {
  background-color: #2dabae;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.main h1 {
  margin: 5px;
}
.team {
  width: 450px;
  height: 200px;
  background-image: url("src/app/imageAssets/team_elsewhere_sm.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.names {
  font-size: 24px;
  width: 450px;
  display: flex;
  justify-content: space-around;
}
.about {
  padding-top: 15px;
  text-align: center;
}
.about p {
  padding: 5px;
  font-size: 24px;
}
.about h2 {
  font-size: 30px;
}

.homeButton {
  padding: 2px;
  margin: 10px;
  display: flex;
  border: none;
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.fas {
  font-size: 30px;
  margin-right: 5px;
}
.attributions {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.powered {
  margin: 15px;
  font-size: 25px;
}
.icon {
  margin: 5px;
  border-radius: 5px;
  width: 200px;
}
.google {
  width: 180px;
  background-color: white;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .main h1 {
    font-size: 40px;
  }
  .names {
    width: 770px;
  }
  .team {
    background-image: url("src/app/imageAssets/team_elsewhere_med.jpg");
    width: 770px;
    height: 300px;
  }
  .about p {
    font-size: 30px;
  }
  .about h2 {
    font-size: 36px;
  }
  .powered {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .main h1 {
    font-size: 45px;
  }
  .names {
    width: 1200px;
  }
  .team {
    background-image: url("src/app/imageAssets/team_elsewhere_full.jpg");
    width: 1200px;
    height: 400px;
  }
  .about p {
    font-size: 30px;
  }
  .about h2 {
    font-size: 36px;
  }
  .powered {
    font-size: 35px;
  }
}
