<main class="page-not-found">
  <h1 class="lost">
    Are you lost? <br />
    Click the globe to go Elsewhere!
  </h1>
  <img
    [routerLink]="['/home']"
    width="256"
    alt="Spinning globe"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Spinning_globe.gif/256px-Spinning_globe.gif"
  />
  <footer class="footer">
    <a href="https://commons.wikimedia.org/wiki/File:Spinning_globe.gif"
      >Wikiscient</a
    ><a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>
    via Wikimedia Commons
  </footer>
</main>
