.weather {
  padding-top: 10px;
  height: 40px;
  background-color: black;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.temp {
  text-align: center;
  padding-left: 5px;
}
@media only screen and (min-width: 768px) {
}
