<div class="books-shelf">
  <div class="books-container-mobile">
    <app-book-item
      *ngFor="let cityBook of bookData?.items"
      [cityBook]="cityBook"
    ></app-book-item>
  </div>
  <div class="books-container-medium">
    <app-book-item
      *ngFor="let cityBook of bookData?.items"
      [cityBook]="cityBook"
    ></app-book-item>
  </div>
  <div class="books-container-large">
    <app-book-item
      *ngFor="let cityBook of bookData?.items"
      [cityBook]="cityBook"
    ></app-book-item>
  </div>
  <button class="btn" (click)="loadMore()">Load more books</button>
</div>
