.books-shelf {
  background-color: antiquewhite;
  padding: 100px 0px;
}
.books-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.books-container-medium {
  display: none;
}
.books-container-large {
  display: none;
}
@media only screen and (min-width: 768px) {
  .books-container-mobile {
    display: none;
  }
  .books-container-medium {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .books-container-large {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .books-container-mobile {
    display: none;
  }
  .books-container-medium {
    display: none;
  }
  .books-container-large {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
