.whiteshelf1 {
  height: 30px;
  width: 90vw;
  background-color: white;
  border: 0.5px solid black;
  position: absolute;
  top: 324px;
  box-shadow: 0px 7px 5px #424242;
}

.whiteshelf2 {
  height: 30px;
  width: 90vw;
  background-color: white;
  border: 0.5px solid black;
  position: absolute;
  top: 582px;
  box-shadow: 0px 7px 5px #424242;
}

.whiteshelf3 {
  height: 30px;
  width: 90vw;
  background-color: white;
  border: 0.5px solid black;
  position: absolute;
  top: 844px;
  box-shadow: 0px 7px 5px #424242;
}

.whiteshelf4 {
  height: 30px;
  width: 90vw;
  background-color: white;
  border: 0.5px solid black;
  position: absolute;
  top: 1104px;
  box-shadow: 0px 7px 5px #424242;
}
.whiteshelf5 {
  height: 30px;
  width: 90vw;
  background-color: white;
  border: 0.5px solid black;
  position: absolute;
  top: 1364px;
  box-shadow: 0px 7px 5px #424242;
}
.whiteshelf6 {
  height: 30px;
  width: 90vw;
  background-color: white;
  border: 0.5px solid black;
  position: absolute;
  top: 1624px;
  box-shadow: 0px 7px 5px #424242;
}

.books-shelf {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 100px 0px;
  position: relative;
}
.books-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.books-container-medium {
  display: none;
}
.books-container-large {
  display: none;
}
.btn {
  border: none;
  color: black;
  background-color: white;
  font-size: 20px;
  border-radius: 5px;
  height: 40px;
  margin: 5px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .whiteshelf1,
  .whiteshelf2,
  .whiteshelf3,
  .whiteshelf4,
  .whiteshelf5,
  .whiteshelf6 {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .books-container-mobile {
    display: none;
  }
  .books-container-medium {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .books-container-large {
    display: none;
  }
}
@media only screen and (min-width: 1114px) {
  .books-container-mobile {
    display: none;
  }
  .books-container-medium {
    display: none;
  }
  .books-container-large {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .whiteshelf5,
  .whiteshelf6 {
    display: none;
  }
}

@media only screen and (min-width: 1500px) {
  .books-container-mobile {
    display: none;
  }
  .books-container-medium {
    display: none;
  }
  .books-container-large {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .whiteshelf4,
  .whiteshelf5,
  .whiteshelf6 {
    display: none;
  }
}
