.books-box {
  background-color: wheat;
  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  /* height: max-content; */
  /* background-color: wheat;
  width: 100vw; */
  /* height: 400px; */
}
.books-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  max-width: 30%;
  position: relative;
}

.book-info {
  border-radius: 15px;
  padding: 8px;
  background-color: white;
  font-size: 14px;
  text-align: center;
  overflow: auto;
  width: 150px;
  height: 200px;
  position: absolute;
  top: 0;
  z-index: 10;
}
.title {
  font-size: 16px;
}
.bk-button {
  border: none;
  padding: 10px;
  margin: 3px;
  border-radius: 15px;
}

.load-more {
  border: none;
  background-color: transparent;
  color: black;
  font-size: 15px;
}
