<div class="books-shelf">
  <div class="books-container-mobile">
    <app-book-item
      *ngFor="let cityBook of bookData?.items"
      [cityBook]="cityBook"
    ></app-book-item>
  </div>
  <div class="books-container-medium">
    <app-book-item
      *ngFor="let cityBook of bookData?.items"
      [cityBook]="cityBook"
    ></app-book-item>
  </div>
  <div class="books-container-large">
    <app-book-item
      *ngFor="let cityBook of bookData?.items"
      [cityBook]="cityBook"
    ></app-book-item>
  </div>
  <div class="book-buttons">
    <button class="btn" (click)="getBooks()">First Page</button>
    <button class="btn" (click)="loadMore()">Second Page</button>
    <button class="btn" (click)="pageThree()">Third Page</button>
  </div>
  <div class="whiteshelf1"></div>
  <div class="whiteshelf2"></div>
  <div class="whiteshelf3"></div>
  <div class="whiteshelf4"></div>
  <div class="whiteshelf5"></div>
  <div class="whiteshelf6"></div>
</div>
