.header-Detroit {
  color: #000000c9;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 130px;
}

.header-Rome {
  color: #003f10;
  font-family: "Zeyada", cursive;
  text-shadow: 2px 8px black;
  font-size: 130px;
}

.header-RiodeJaneiro {
  color: #fdfffc;
  font-family: "Josefin Sans", sans-serif;
  font-size: 130px;
}
.header-Paris {
  color: #000000;
  font-family: "Kristi", cursive;
  font-size: 130px;
}
.header-NewYorkCity {
  color: #fdfffc;
  font-family: "Playfair Display", serif;
  font-size: 130px;
}
.header-Bangkok {
  color: #000000;
  font-family: "Dr Sugiyama", cursive;
  font-size: 130px;
}
.header-Tokyo {
  color: #000000;
  font-family: "Caveat Brush", cursive;
  font-size: 130px;
}
.header-NewDelhi {
  color: #000000c9;
  text-shadow: 4px 4px black;
  font-family: "Mr Bedfort", cursive;
  font-size: 130px;
}
.header-Madrid {
  color: #000000c9;
  font-family: "Sansita Swashed", cursive;
  font-size: 130px;
}
.header-AddisAbaba {
  color: #000000c9;
  font-family: "Langar", cursive;
  font-size: 130px;
}

.footer-Detroit {
  color: #000000c9;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 130px;
}

.footer-Rome {
  color: #003f10;
  font-family: "Zeyada", cursive;
  text-shadow: 2px 8px black;
  font-size: 130px;
}

.footer-RiodeJaneiro {
  color: #fdfffc;
  font-family: "Josefin Sans", sans-serif;
  font-size: 130px;
}
.footer-Paris {
  color: #000000;
  font-family: "Kristi", cursive;
  font-size: 130px;
}
.footer-NewYorkCity {
  color: #fdfffc;
  font-family: "Playfair Display", serif;
  font-size: 130px;
}
.footer-Bangkok {
  color: #000000;
  font-family: "Dr Sugiyama", cursive;
  font-size: 130px;
}
.footer-Tokyo {
  color: #000000;
  font-family: "Caveat Brush", cursive;
  font-size: 130px;
}
.footer-NewDelhi {
  color: #00000073;
  text-shadow: 4px 4px black;
  font-family: "Mr Bedfort", cursive;
  font-size: 130px;
}
.footer-Madrid {
  color: #000000c9;
  font-family: "Sansita Swashed", cursive;
  font-size: 130px;
}
.footer-AddisAbaba {
  color: #000000c9;
  font-family: "Langar", cursive;
  font-size: 130px;
}

.recipe-box {
  padding: 20px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-box-Detroit {
  background-image: url("src/app/imageAssets/brick5.jpeg");
}

.recipe-box-Rome {
  background-image: url("src/app/imageAssets/Rome7.jpg");
}

.recipe-box-RiodeJaneiro {
  background-image: url("src/app/imageAssets/brazil-fabric.jpg");
}

.recipe-box-Paris {
  background-image: url("src/app/imageAssets/frenchfabric_2.jpg");
}

.recipe-box-NewYorkCity {
  background-image: url("src/app/imageAssets/newyorkfabric.jpg");
}

.recipe-box-Bangkok {
  background-image: url("src/app/imageAssets/bangkok.jpg");
}

.recipe-box-Tokyo {
  background-image: url("src/app/imageAssets/tokyo-bkg.jpg");
}

.recipe-box-NewDelhi {
  background-image: url("src/app/imageAssets/Indian.jpg");
}

.recipe-box-Madrid {
  background-image: url("src/app/imageAssets/Madrid-fabric.jpg");
}

.recipe-box-AddisAbaba {
  background-image: url("src/app/imageAssets/ethiopianfabric.jpg");
}

.recipes {
  width: 90vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 10px black;
}

.recipes-Detroit {
  background-color: #031d44;
}
.recipes-Rome {
  background-color: #1e3f20;
}
.recipes-RiodeJaneiro {
  background-color: #004537;
}
.recipes-Paris {
  background-color: pink;
}
.recipes-NewYorkCity {
  background-color: #78394e;
}
.recipes-Bangkok {
  background-color: #563846;
}
.recipes-Tokyo {
  background-color: #192340;
}
.recipes-NewDelhi {
  background-color: #b61a1a;
}
.recipes-Madrid {
  background-color: #d93b3b;
}
.recipes-AddisAbaba {
  background-color: #cbcb67b0;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #fdfffc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipe-info {
  font-size: 18px;
  text-align: center;
  height: 40px;
  width: 240px;
}
.recipeImg {
  width: 240px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
  padding: 5px;
}

.fas {
  color: black;
}

.load-more {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: white;
  border-radius: 2px;
  height: 40px;
  margin: 20px;
}
@media only screen and (min-width: 768px) {
  .recipes {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1200px) {
}
