.recipe-box {
  padding: 20px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-box-Detroit {
  background-image: url("src/app/imageAssets/brick5.jpeg");
}

.recipe-box-Rome {
  background-image: url("src/app/imageAssets/brick3.jpg");
}

.recipe-box-RiodeJaneiro {
  background-image: url("src/app/imageAssets/brazil-fabric.jpg");
}

.recipe-box-Paris {
  background-image: url("src/app/imageAssets/frenchfabric.jpg");
}

.recipe-box-NewYorkCity {
  background-image: url("src/app/imageAssets/newyorkfabric.jpg");
}

.recipe-box-Bangkok {
  background-image: url("src/app/imageAssets/brick5.jpeg");
}

.recipe-box-Tokyo {
  background-image: url("src/app/imageAssets/tokyo-bkg.jpg");
}

.recipe-box-NewDelhi {
  background-image: url("src/app/imageAssets/Indian.jpg");
}

.recipe-box-Madrid {
  background-image: url("src/app/imageAssets/Madrid-fabric.jpg");
}

.recipe-box-AddisAbaba {
  background-image: url("src/app/imageAssets/ethiopianfabric.jpg");
}

.recipeheader {
  color: #fdfffc;
}
.recipes {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 10px black;
}

.recipes-Detroit {
  background-color: #031d44;
}
.recipes-Rome {
  background-color: green;
}
.recipes-RiodeJaneiro {
  background-color: blue;
}
.recipes-Paris {
  background-color: pink;
}
.recipes-NewYorkCity {
  background-color: red;
}
.recipes-Bangkok {
  background-color: yellow;
}
.recipes-Tokyo {
  background-color: orange;
}
.recipes-NewDelhi {
  background-color: #31e2d9;
}
.recipes-Madrid {
  background-color: #35d169;
}
.recipes-AddisAbaba {
  background-color: #e21aa6;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #fdfffc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipe-info {
  font-size: 18px;
  text-align: center;
  height: 40px;
  width: 240px;
}
.recipeImg {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
  padding: 5px;
}

.fas {
  color: black;
}

.load-more {
  border: none;
  background-color: white;
}
@media only screen and (min-width: 768px) {
  .recipes {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1200px) {
}
