.recipes {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  background-color: tomato;
  width: 100vw;
}
.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  max-width: 30%;
}

.recipe-info {
  font-size: 14px;
  text-align: center;
  height: 32px;
}
