<div
  class="recipe-box"
  [class.recipe-box-Detroit]="cityName === 'Detroit'"
  [class.recipe-box-Rome]="cityName === 'Rome'"
  [class.recipe-box-RiodeJaneiro]="cityName === 'Rio de Janeiro'"
  [class.recipe-box-Paris]="cityName === 'Paris'"
  [class.recipe-box-NewYorkCity]="cityName === 'New York City'"
  [class.recipe-box-Bangkok]="cityName === 'Bangkok'"
  [class.recipe-box-Tokyo]="cityName === 'Tokyo'"
  [class.recipe-box-NewDelhi]="cityName === 'New Delhi'"
  [class.recipe-box-Madrid]="cityName === 'Madrid'"
  [class.recipe-box-AddisAbaba]="cityName === 'Addis Ababa'"
>
  <h1
    class="recipeheader"
    [class.header-Detroit]="cityName === 'Detroit'"
    [class.header-Rome]="cityName === 'Rome'"
    [class.header-RiodeJaneiro]="cityName === 'Rio de Janeiro'"
    [class.header-Paris]="cityName === 'Paris'"
    [class.header-NewYorkCity]="cityName === 'New York City'"
    [class.header-Bangkok]="cityName === 'Bangkok'"
    [class.header-Tokyo]="cityName === 'Tokyo'"
    [class.header-NewDelhi]="cityName === 'New Delhi'"
    [class.header-Madrid]="cityName === 'Madrid'"
    [class.header-AddisAbaba]="cityName === 'Addis Ababa'"
  >
    Let your taste buds explore...
  </h1>
  <div
    class="recipes"
    [class.recipes-Detroit]="cityName === 'Detroit'"
    [class.recipes-Rome]="cityName === 'Rome'"
    [class.recipes-RiodeJaneiro]="cityName === 'Rio de Janeiro'"
    [class.recipes-Paris]="cityName === 'Paris'"
    [class.recipes-NewYorkCity]="cityName === 'New York City'"
    [class.recipes-Bangkok]="cityName === 'Bangkok'"
    [class.recipes-Tokyo]="cityName === 'Tokyo'"
    [class.recipes-NewDelhi]="cityName === 'New Delhi'"
    [class.recipes-Madrid]="cityName === 'Madrid'"
    [class.recipes-AddisAbaba]="cityName === 'Addis Ababa'"
  >
    <div class="recipe-container" *ngFor="let cityRecipe of recipeData?.hits">
      <p class="recipe-info">{{ cityRecipe?.recipe.label }}</p>
      <img
        src="{{ cityRecipe?.recipe.image }}"
        alt="recipe img"
        class="recipeImg"
      />
      <a href="{{ cityRecipe?.recipe.url }}" target="_blank"
        >Click to view recipe.<i class="fas fa-utensils"></i>
      </a>
      <a
        href="mailto:?subject=Check out this recipe&body=Here's this recipe {{
          cityRecipe?.recipe.url
        }}"
        >Email this recipe! <i class="fas fa-envelope-open-text"></i
      ></a>
      <a href=""></a>
    </div>
  </div>
  <div class="button-container">
    <button class="load-more" (click)="getRecipe()">First Page</button>
    <button class="load-more" (click)="loadMore()">Second Page</button>
    <button class="load-more" (click)="pageThree()">Third Page</button>
  </div>
  <h1
    class="bottomHeader"
    [class.footer-Detroit]="cityName === 'Detroit'"
    [class.footer-Rome]="cityName === 'Rome'"
    [class.footer-RiodeJaneiro]="cityName === 'Rio de Janeiro'"
    [class.footer-Paris]="cityName === 'Paris'"
    [class.footer-NewYorkCity]="cityName === 'New York City'"
    [class.footer-Bangkok]="cityName === 'Bangkok'"
    [class.footer-Tokyo]="cityName === 'Tokyo'"
    [class.footer-NewDelhi]="cityName === 'New Delhi'"
    [class.footer-Madrid]="cityName === 'Madrid'"
    [class.footer-AddisAbaba]="cityName === 'Addis Ababa'"
  >
    Expand your mind...
  </h1>
</div>
