<p-galleria
  [value]="photoData?.hits"
  [responsiveOptions]="responsiveOptions"
  [numVisible]="5"
  [showItemNavigators]="true"
>
  <ng-template pTemplate="header">
    <h1>Header</h1>
  </ng-template>
  <ng-template pTemplate="item" let-item>
    <img [src]="item.webformatURL" style="width: 100%; display: block" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="p-grid p-nogutter p-justify-center">
      <img [src]="item.previewURL" style="display: block" />
    </div>
  </ng-template>
</p-galleria>
<!-- <p-galleria
  [value]="photoData?.hits"
  [responsiveOptions]="responsiveOptions"
  [containerStyle]="{ 'max-width': '520px' }"
  [numVisible]="5"
>
  <ng-template pTemplate="header">
    <h1>Header</h1>
  </ng-template>
  <ng-template pTemplate="item" let-item>
    <img [src]="item.webformatURL" style="width: 100%" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="p-grid p-nogutter p-justify-center">
      <img [src]="item.previewURL" />
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <h1>Footer</h1>
  </ng-template>
</p-galleria> -->
