<nav class="nav">
  <div class="container">
    <img
      class=""
      src="https://cdn.pixabay.com/photo/2016/12/19/20/42/detroit-1919050_960_720.jpg"
      alt=""
    />
    <button class="btn" (click)="selectCity('Detroit')">Detroit</button>
  </div>
  <div class="container">
    <img
      class=""
      src="https://cdn.pixabay.com/photo/2014/03/26/05/47/vittorio-emanuele-monument-298412_960_720.jpg"
      alt=""
    />
    <button class="btn" (click)="selectCity('Rome')">Rome</button>
  </div>
  <div class="container">
    <img
      src="https://cdn.pixabay.com/photo/2017/01/08/19/30/rio-de-janeiro-1963744_960_720.jpg"
      alt=""
    />
    <button class="btn" (click)="selectCity('Rio de Janeiro')">
      Rio de Janeiro
    </button>
  </div>
  <div class="container">
    <img
      src="https://cdn.pixabay.com/photo/2016/11/18/19/01/paris-1836415_960_720.jpg"
      alt=""
    />
    <button class="btn" (click)="selectCity('Paris')">Paris</button>
  </div>
  <div class="container">
    <img
      src="https://cdn.pixabay.com/photo/2015/03/11/12/31/new-york-668616_960_720.jpg"
      alt=""
    />
    <button class="btn" (click)="selectCity('New York City')">
      New York City
    </button>
  </div>
  <div class="container">
    <img
      src="https://cdn.pixabay.com/photo/2016/11/14/03/38/phra-nakhon-si-ayutthaya-1822502_960_720.jpg"
      alt=""
    /><button class="btn" (click)="selectCity('Bangkok')">Bangkok</button>
  </div>
  <div class="container">
    <img
      src="https://cdn.pixabay.com/photo/2015/09/04/23/04/shibuya-crossing-923000_960_720.jpg"
      alt=""
    /><button class="btn" (click)="selectCity('Tokyo')">Tokyo</button>
  </div>
  <div class="container">
    <img
      src="https://cdn.pixabay.com/photo/2020/02/21/14/23/delhi-4867634_960_720.jpg"
      alt=""
    /><button class="btn" (click)="selectCity('New Delhi')">New Delhi</button>
  </div>
  <div class="container">
    <img
      src="https://cdn.pixabay.com/photo/2017/03/27/18/43/madrid-2179954_960_720.jpg"
      alt=""
    /><button class="btn" (click)="selectCity('Madrid')">Madrid</button>
  </div>
  <div class="container">
    <img
      src="https://cdn.pixabay.com/photo/2020/07/06/14/04/entoto-5377156_960_720.jpg"
      alt=""
    /><button class="btn" (click)="selectCity('Addis Ababa')">
      Addis Ababa
    </button>
  </div>
</nav>
<footer>
  <div class="attributions">
    This app is powered by
    <div id="edamam-badge" data-color="white"></div>
    <img
      class="icon"
      src="https://pixabay.com/static/img/public/medium_rectangle_b.png"
      alt="Pixabay API"
    />
    <img
      class="icon"
      src="https://www.google.com/images/logos/books_logo.gif"
      alt="google books API"
    />
    <img
      class="icon"
      src="https://openweathermap.org/themes/openweathermap/assets/img/logo_white_cropped.png"
      alt="OpenWeather API"
    />
  </div>
</footer>
